@import url("reset.css");

.footer {
    color: #999999;
    font-size: 12px;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footer__email {
    margin-top: 2px;
}

.footer__email a {
    color: lightblue;
    text-decoration: none;
}

.footer__email a:hover {
    color: #ffffff;
    text-decoration: underline;
}