@import url("reset.css");

.header {
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header__title {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
}

.title__text {
    margin-left: 5px;
}

.select {
    font-size: 14px;
    padding: 5px;
    outline: none;
    background: none;
    border: none;
    color: #999999;
}

.select:hover {
    color: #ffffff;
}