body {
    margin: 0;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.main{
    margin: 15px;
}

.table{
    border-collapse: collapse;
    width: 100%;
}

.table-bordered {
    border: 1px solid #e9ecef;
}

table,th,td{
    text-align: left;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #e9ecef;
}

table tr td {
    padding-bottom: 6px !important;
    padding-top: 6px !important;
}

.bg-semestr-title {
    background-color: rgba(220, 53, 69, 0.1) !important;
}

.semestr{
    text-align: center;
    font-weight: 700;
}

.font-weight-bold{
    font-weight: 700 !important;
}

.breadcrumb{
    display: flex;
    flex-wrap: wrap;
    padding: 7px 7px;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 5px;
}

.breadcrumb-item+.breadcrumb-item::before{
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
    margin-left: 10px;
}

.breadcrumb-item a{
    color: #007bff;
    text-decoration: none;
}

.breadcrumb-item a:hover{
    color: blue;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.main__tittle{
    font-weight: 700;
    font-size: 30px;
    margin: 10px 0;
}